.header {
    height: 70px;
    background: #fff;
}

a.logo {
    line-height: 70px;
}

.login-links {
    float: right;
    line-height: 70px;
    text-align: right;
}

.login-links>span {
    font-size: 10px;
    text-transform: uppercase;
}

.login-links>.login-link {
    font-size: 14px;
    color: #19b698;
}

.reg-btn {
    background: #f56e69;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 3px;
}

.reg-btn:hover, .reg-btn:focus {
    text-decoration: none;
    color: #fff;
    background: #19b698;
}

.picture {
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    height: 330px;
    width: 100%;
    font-size: 48px;
}

.picture>.row {
    background-color: rgba(0, 0, 0, 0.78);
    height: 100%;
}

.picture h1 {
    letter-spacing: 5px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: -10px;
}

a.green-btn {
    background: #19b698;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 70px;
    border-radius: 3px;
}

a.green-btn:hover, a.green-btn:focus {
    text-decoration: none;
    background: #f56e69;
}

.how .caption {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.block {
    width: 200px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
}

.block img {
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .picture {
        font-size: 30px;
    }

    .picture h1 {
        line-height: 40px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .login-links>span {
        display: none;
    }

    .activity .set, .activity .remains, .gift .key {
        display: none;
    }

    .gifts>.clearfix>.yellow {
        display: none;
    }
}

.main-footer {
    background: #000;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}

.main-footer .caption {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0 auto 20px auto;
}

.regform {
    margin: 0 auto;
    width: 300px;
}

.regform>input[type=text] {
    height: 30px;
    width: 300px;
    background: none;
    border: 1px white solid;
    margin-bottom: 10px;
    color: #fff;
    padding: 3px;
}

.regform>input[type=submit] {
    background: #19b698;
    border: none;
    color: white;
    width: 300px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

.form {
    text-align: center;
    background: #fff;
    width: 300px;
    height: 248px;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    display: none;
    padding: 30px;
}

.form>form {
    margin-top: 10px;
}

.form>form>input[type=text] {
    width: 240px;
    height: 30px;
    border: none;
    border-bottom: #666 1px solid;
    padding: 3px;
    margin-bottom: 15px;
    text-align: center;
}

.form>form>input[type=text]:focus {
    border-bottom: #19b698 1px solid;
}

.form>form>input[type=submit] {
    background: #19b698;
    border: none;
    color: white;
    width: 300px;
    height: 50px;
    line-height: 40px;
    margin-left: -30px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 100;
}

.form>form>input[type=submit]:hover, .login-form>form>input[type=submit]:focus {
    background: #f56e69;
}

.fade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    opacity: 0;
    display: none;
}

.activities .caption {
    font-weight: 100;
    text-transform: uppercase;
    float: left;
}

.activities .reg-btn {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

.activities .clearfix {
    margin-bottom: 10px;
}

.activity {
    background: #3c3c3c;
    height: 60px;
    line-height: 60px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.activity>.type-game {
    background: #0e669b;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 60px;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-right: 20px;
    float: left;
}

.activity>.type-link {
    background: #444395;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 60px;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-right: 20px;
    float: left;
}

.activity>span {
    color: white;
    font-size: 16px;
}

.activity>.set {
    float: right;
    background: #99c45a;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 10px;
    line-height: 20px;
}

.activity span {
    text-transform: uppercase;
    font-size: 10px;
}

.activity>.remains {
    float: right;
    background: #b2d179;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 10px;
    line-height: 20px;
}

.gifts .caption {
    font-weight: 100;
    text-transform: uppercase;
    float: left;
}

.gifts .reg-btn {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.gifts>.clearfix {
    margin-bottom: 10px;
}

.yellow {
    background: #f4b456;
}

.gift-title {
    background: #3c3c3c;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.gift-title>.type-steam {
    background: #444395;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    width: 60px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-right: 20px;
    float: left;
}

.gift-title>span {
    color: white;
    font-size: 16px;
}

.gift-title>.key {
    float: right;
    background: #99c45a;
    width: 60px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
}

.key>a {
    color: #fff;
}

.gift-description {
    background: #ccc;
    color: #222;
    line-height: 21px;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: none;
}

.gift {
    margin-bottom: 20px;
}

.error {
    text-align: center;
    background: #fff;
    color: #f56e69;
    width: 300px;
    height: 148px;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
    display: none;
    padding: 30px;
}

.add {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}